@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');
body.core4os{
  h2.app-title{
    font-family: 'Baloo Bhaina', cursive !important;
    padding-top: 8px;
    font-size: 32px;
  }
  .c4-headline {
    margin-top: 6px;
    font-family: 'Baloo Bhaina', cursive !important;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
  }
}

.v-btn {
  font-weight: 600;
}

.body-2 {
  font-size: 14px !important;
  font-weight: 500;
}

.body-1 {
  font-size: 14px !important;
  font-weight: 400;
}

.caption {
  font-size: 12px !important;
  font-weight: 400;
}
