.theme--dark {
  /* Change Autocomplete styles in Chrome*/
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--v-secondary-lighten5);
    -webkit-box-shadow: none;
    transition: background-color 5000s ease-in-out 0s;
  }
  &.c4-navigation.v-navigation-drawer{
    background-color: #272727;//var(--v-secondary-lighten1);
    
  }
/*   &.core-navigation-container {
    background-color: darken(#232323, 1)
  } */

  // theme top navbar

  // theme top navbar end
  &.application {
    background-color: #232323 !important;
  }

}
