$color-light-grey: #fcfcfd;
$color-border: #ddd;
.v-application.theme--light {
  background-color: $color-light-grey;
  .c4-appbar {
    background-color: #fff !important;
    border-bottom: 1px solid $color-border;
  }
  .c4-navigation{
    //border-right: 1px solid $color-border;
  }
  /*.v-main__wrap {
    background-color: $color-light-grey;
  }

  .core-container {
    background-color: $color-light-grey;
    border-color: $color-light-grey;
  }

  .theme--light.core-navigation-container {
    background-color: $color-light-grey;
  } */

  /* Change Autocomplete styles in Chrome*/
  input:-webkit-autofill,
  input:-webkit-autofill:focus input:-webkit-autofill,
  input:-webkit-autofill:hover,
  select:-webkit-autofill,
  select:-webkit-autofill:focus,
  select:-webkit-autofill:hover,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px rgb(254, 254, 254) inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  /*   h2.app-title {
    color: #fff;
  } */
}
